version: "3.8"

services:
  nginx:
    image: nginx:latest
    ports:
      - "4000:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - api-gateway
    restart: unless-stopped

  api-gateway:
    build: ./api-gateway
    deploy:
      replicas: 2
    env_file:
      - .env
    depends_on:
      - rabbitmq
      - kafka
    restart: unless-stopped

  parking-service:
    build: ./parking-service
    env_file:
      - .env
    depends_on:
      - rabbitmq
      - kafka
    restart: unless-stopped

  notification-service:
    build: ./notification-service
    ports:
      - "5000:5000"
    env_file:
      - .env
    depends_on:
      - kafka
      - redis
    restart: unless-stopped

  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"
    restart: unless-stopped

  faas-scheduler:
    build: ./faas
    env_file:
      - .env
    command: node scheduler.js
    depends_on:
      - kafka
      - rabbitmq
    restart: unless-stopped

  faas-worker:
    build: ./faas
    env_file:
      - .env
    command: node worker.js
    depends_on:
      - kafka
      - rabbitmq
      - parking-service
    restart: unless-stopped

  frontend:
    build: ./frontend
    env_file:
      - .env
    ports:
      - "3001:80"
    depends_on:
      - api-gateway
    restart: unless-stopped

  zookeeper:
    image: confluentinc/cp-zookeeper:latest
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
    restart: unless-stopped

  kafka:
    image: confluentinc/cp-kafka:7.6.0
    depends_on:
      - zookeeper
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181

    # INTERNAL Docker communication
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092

      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_TRANSACTION_STATE_LOG_MIN_ISR: 1
      KAFKA_TRANSACTION_STATE_LOG_REPLICATION_FACTOR: 1
    restart: unless-stopped

  redis:
    image: redis:latest
    ports:
      - "6379:6379"
    restart: unless-stopped
